## Method 1

**Workings**

How many numbers in each row:  

n0 = 0  
n1 = n0 + 1 = 1  
n2 = n1 + 1 = 2  
n3 = n2 + 1 = 3  
...

row 0: 0  
row 1: 0+1=1  
row 2: 1+2=3, 3+2=5 ---> Sum=8  
row 3: 5+2=7, 7+2=9, 9+2=11 ---> Sum=27  
row 4: 11+2=13, 13+2=15, 15+2=17, 17+2=19 ---> Sum=64  
row 5: 19+2=21, 21+2=23, 23+2=25, 25+2=27, 27+2=29 ---> Sum=125  
...

Looking at the pattern above, the **sum of the nth row = n^3**

In [1]:
def sum_odd_num(row):
    return row**3

In [6]:
sum_odd_num(5)

125